<div [hidden]="!chart">
  <canvas style="margin:70px auto 0 auto" width="800" height="400" id="canvas">{{ chart }}</canvas>
  <div class="button-row">
    <button *ngIf="setLabelsService.setState !== 'sale'" mat-flat-button color="primary" (click)="setLabelsService.setSale()">Add sale</button>&nbsp;
    <button *ngIf="setLabelsService.setState !== 'buy'" mat-flat-button color="primary" (click)="setLabelsService.setBuy()">Add buy</button><br/>
    <button routerLink="/training" style="margin-top:1em;" mat-raised-button color="accent">Done</button>
  </div>
  <div class="labels-list">
    <div>
      <h3>Buy:</h3>
      <ul>
        <li *ngFor="let price of setLabelsService.whereBuy">{{price}}</li>
      </ul>
    </div>
    <div>
      <h3>Sale:</h3>
      <ul>
        <li *ngFor="let price of setLabelsService.whereSale">{{price}}</li>
      </ul>
    </div>
  </div>
</div>
