<mat-form-field>
  <mat-select [(value)]="selectedValue.company" placeholder="Set company:">
    <mat-option *ngFor="let company of COMPANIES" [value]="company">{{company}}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-select [(value)]="selectedValue.period" placeholder="Set period:">
    <mat-option *ngFor="let period of PERIODS" [value]="period">{{period}}</mat-option>
  </mat-select>
</mat-form-field>
<div class="button-row" *ngIf="selectedValue.company && selectedValue.period">
  <button mat-flat-button color="primary" (click)="go()">Go</button>
</div>
<chart [stockPrices]="stocks"></chart>
