.mat-tab-labels {
    display: flex;
    align-items: center;
    justify-content: center;
}
.mat-form-field {
  padding: 1em;
}

form{
  display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;

}
